{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
    margin: 0;
    padding: 0;
}
  /* Style for the main form */
  form {
    /* Set overflow to hidden to remove scrollbars */
    overflow: hidden;
    /* Ensure no padding or margin */
    padding: 0;
    margin: 0;
  }
    </style>
        </head>
<body>
<h1>Balances</h1>
</body>
{% endif %}
{% endblock %}